{% extends "BlogBundle:Blog:index.html.twig" %}

{% block body %}
    <div style="text-align: center">
        <br><br>

            <form action="{{ path("blog_new") }}" method="post">
                {{ form_widget(form) }}
            </form>
    </div>
{% endblock %}